<div class="header ui-v5 loaded" id="header">
	<div class="header-select user-info">
		<a data-track-id="console-header" data-track-name="用户头像（导航条）" href="" class="username" id="username" title="xxx">x</a>
		<div class="select-items user-nav">
			<ul>
				<li class="user-menu"><a data-track-id="console-header" data-track-name="用户中心" title="用户中心" href=""><i class="iconfont icon-myaccount"></i>用户中心</a></li>
				<li class="user-menu"><a data-track-id="console-header" data-track-name="安全认证" title="安全认证" href=""><i class="iconfont icon-authinfo"></i>安全认证</a></li>
				<li class="user-menu header-guide-intro-3" title="多用户访问控制"><a data-track-id="console-header" data-track-name="多用户访问控制" href=""><i class="iconfont icon-iam-user"></i>多用户访问控制</a></li>
				<li class="user-menu" title="退出"><a href="" id="logout"><i class="iconfont icon-exit"></i>退出</a></li>
			</ul>
		</div>
	</div>
	<div class="header-guide-intro-1">
		<div class="doc-nav nav-item" title="财务">
			<a class="nav-item-link" href="">
				<span class="header-title">财务</span>
			</a>
		</div>
		<div class="organization-nav header-guide-intro-2 nav-item">
			<a data-track-id="console-header" data-track-name="企业组织" href="">
				<span class="header-title">维护人员联系方式</span>
			</a>
		</div>
		<div class="doc-nav nav-item" title="帮助文档">
			<a class="nav-item-link" href="">
				<span class="header-title">帮助文档</span>
			</a>
		</div>
		<div class="msg-nav nav-item">
			<span class="msg-icon">
				<span class="header-title">重要警报消息</span>
			</span>
		</div>
	</div>
</div>