<div tip="总览" class="sidebar-item overview loaded"><a href=""><i class="iconfont icon-overview"></i><span>总览</span></a></div>
<div class="sidebar-divider"></div>

<ul id="sidebar-products">

<li tip="人工审核" class="sidebar-item loaded">
	<a href="" data-track-id="sidebar_service" data-track-name="侧边栏产品链接"><i class="iconfont icon-cds"></i><span title="人工审核"> 人工审核</span></a>
</li>

<li tip="分布式爬虫" class="sidebar-item loaded">
	<a href="" data-track-id="sidebar_service" data-track-name="侧边栏产品链接"><i class="iconfont icon-bcd"></i><span title="分布式爬虫"> 分布式爬虫</span></a>
</li>

<li tip="人脸识别" class="sidebar-item loaded">
	<a href="" data-track-id="sidebar_service" data-track-name="侧边栏产品链接"><i class="iconfont icon-eip"></i><span title="人脸识别"> 人脸识别</span></a>
</li>

<li tip="数据分析" class="sidebar-item loaded">
	<a href="" data-track-id="sidebar_service" data-track-name="侧边栏产品链接"><i class="iconfont icon-cds"></i><span title="数据分析"> 数据分析</span></a>
</li>

</ul>
<div class="bottom-nav" id="open-close">   
	<a class="toggle-nav-collapse collapse-nav" href="javascript:void(0)" tip="展开/收起"><i class="iconfont icon-collapse1"></i></a>
</div>

