<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet", href="bootstrap/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div style="float:left; margin-bottom:20px;">
    <table class="table table-striped" style="float:left; width:600px; height:200px;">
	<caption>条纹表格布局</caption>
	<thead>
		<tr>
			<th>运行主机列表</th>
			<th>CPU(使用占比 %)</th>
			<th>存储(使用占比)</th>
            <th>网络</th>
            <th>操作</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pc1</td>
			<td>32</td>
			<td>1.9T/4.0T</td>
            <td>42Mbps</td>
            <td><a href="#">停止</a></td>
		</tr>
		<tr>
			<td>Pc2</td>
			<td>64</td>
			<td>2.3T/4.0T</td>
            <td>40Mbps</td>
            <td><a href="#">停止</a></td>
		</tr>
		<tr>
			<td>Pc3</td>
			<td>22</td>
			<td>2.2T/4.0T</td>
            <td>46Mbps</td>
            <td><a href="#">停止</a></td>
		</tr>
        <tr>

            <td>Pc4</td>
			<td>75</td>
			<td>2.8T/4.0T</td>
            <td>43Mbps</td>
            <td><a href="#">停止</a></td>
        </tr>
        <tr>

            <td>Pc5</td>
			<td>44</td>
			<td>1.2T/4.0T</td>
            <td>45Mbps</td>
            <td><a href="#">停止</a></td>
        </tr>
	</tbody>
</table>

        <table class="table table-striped" style="float:left; width:600px; height:200px; margin-left:50px">
	<caption>条纹表格布局</caption>
	<thead>
		<tr>
            <th>闲置主机列表</th>
			<th>CPU(使用占比 %)</th>
			<th>存储(使用占比)</th>
            <th>网络</th>
            <th>操作</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pc6</td>
			<td>3</td>
			<td>3.1T/4.0T</td>
            <td>0.1Mbps</td>
            <td><a href="#">启动</a></td>
		</tr>
		<tr>
			<td>Pc7</td>
			<td>1</td>
			<td>1.1T/4.0T</td>
            <td>0.1Mbps</td>
            <td><a href="#">启动</a></td>
		</tr>
		<tr>
			<td>Pc8</td>
			<td>0</td>
			<td>2.2T/4.0T</td>
            <td>0.1Mbps</td>
            <td><a href="#">启动</a></td>
		</tr>

	</tbody>
</table>
</div>

<div>
    <table class="table table-striped" style="float:left; width:600px; height:200px;">
	<caption>条纹表格布局</caption>
	<thead>
		<tr>
			<th>运行主机列表</th>
			<th>CPU(使用占比 %)</th>
			<th>GPU(使用占比 %)</th>
            <th>负载</th>
            <th>操作</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pc1</td>
			<td>32</td>
			<td>87</td>
            <td>87</td>
            <td><a href="#">停止</a></td>
		</tr>
		<tr>
			<td>Pc2</td>
			<td>64</td>
			<td>99</td>
            <td>92</td>
            <td><a href="#">停止</a></td>
		</tr>
		<tr>
			<td>Pc3</td>
			<td>22</td>
			<td>99</td>
            <td>93</td>
            <td><a href="#">停止</a></td>
		</tr>
        <tr>

            <td>Pc4</td>
			<td>75</td>
			<td>86</td>
            <td>76</td>
            <td><a href="#">停止</a></td>
        </tr>
        <tr>

            <td>Pc5</td>
			<td>64</td>
			<td>99</td>
            <td>87</td>
            <td><a href="#">停止</a></td>
        </tr>
	</tbody>
</table>

        <table class="table table-striped" style="float:left; width:600px; height:200px; margin-left:50px">
	<caption>条纹表格布局</caption>
	<thead>
		<tr>
            <th>闲置主机列表</th>
			<th>CPU(使用占比 %)</th>
			<th>GPU(使用占比 %)</th>
            <th>负载</th>
            <th>操作</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pc6</td>
			<td>3</td>
			<td>0</td>
            <td>0</td>
            <td><a href="#">启动</a></td>
		</tr>
		<tr>
			<td>Pc7</td>
			<td>1</td>
			<td>0</td>
            <td>0</td>
            <td><a href="#">启动</a></td>
		</tr>
		<tr>
			<td>Pc8</td>
			<td>0</td>
			<td>0</td>
            <td>0</td>
            <td><a href="#">启动</a></td>
		</tr>

	</tbody>
</table>
</div>
<script src="jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>